<footer class="footer">
  <div class="footer-container">
        <div class="footer-esquerda">
            <div class="logo-area">
                <img src="assets/icone_pet.png" alt="PET Computação" class="logo-pet">

                <div class="logo-texto">
                    <h2>pet</h2>
                    <p>Computação</p>
                </div>
            </div>

            <div class="redes">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter-x"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

        <div class="footer-info">
            <div class="info">
                <i class="bi bi-envelope-fill"></i>
                <p>petcomp@icmc.usp.br</p>
            </div>

            <div class="info">
                <i class="bi bi-geo-alt-fill"></i>
                <p>
                    Av. Trab. São Carlense, 400 - São Carlos/SP Bloco 1, sala 1-103 do ICMC
                </p>
            </div>
        </div>

        <div class="footer-logos">
            <img src="assets/logo_icmc.png" alt="ICMC">
            <img src="assets/logo_usp.png" alt="USP">
        </div>
    </div>
</footer>
